spring-petclinic/

Server_End/.metadata/.plugins/org.eclipse.core.resources/.history/1a/40aa18fc090900171b70d1236777a58f

Server_End/.metadata/.log

Server_End/.metadata/
Server_End/.metadata/.log

Server_End/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

*.xmi
