<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'appointmentType')}">

<body>
  <h2>Appointment Type</h2>
  <form th:object="${appointmentType}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('name', 'name')}" />
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${appointmentType['new']} ? 'Add Appointment Type' : 'Update Appointment Type'"
          class="btn btn-default" type="submit" th:text="${text}">Add Appointment Type</button>
      </div>
    </div> 

  </form>

  <br />

</body>
</html>